@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');



/* Aneta's CSS */
/* Landing page style */


body, ul, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

#nav-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
}

.ham-menu {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
}

* {
    font-family: 'Slabo 27px', serif;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    background-color: #58681D;
    background-color: white;
}

header ul {
    display: flex;
    justify-content: center;
}

header li {
    padding: 15px;
}

header li a, header li a:link {
    padding: 15px;
    text-decoration: none;
    color: black;
}

header li:hover {
    background-color: #c2c2c2;
}

header li a:visited {
    color: black;
}

header .logo {
    display: flex;
}

header .logo a {
    margin: auto;
}

header .logo img {
    height: 171px;
    width: 326px;
}

header nav ul {
    display: flex;
    margin: auto;
    width: 100%;
}

header .navbar {
    padding: 0;
}

header nav li a {
    color: black;
}

header #nav-container {
    background-color: #f8f9fa;
}

main .welcome {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 500px;
    background-image: url(images/thomas-le-pRJhn4MbsMM-unsplash.avif);
    background-position: center;
}

main h1 {
    font-size: 120px;
}

main h1, main h2, .offer h3 { 
    color: white;
    -webkit-text-stroke: black 1px;
}

main h2 {
    font-size: 50px;
}

main .offer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

main .offer1 {
    background-image: url(images/photo-1591586116988-62fe65164f8d.avif);
}

main .offer2 {
    background-image: url(images/photo-1568391047493-d859d5ddb509.avif);
}

main .offer3 {
    background-image: url(images/photo-1545601445-4d6a0a0565f0.avif);
}

main .offer .offer-card {
    width: 300px;
    height: 300px;
    margin: 100px 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .offer .offer-card h3 {
    font-size: 50px;
    background-color: #B5250A;
}

main .reviews {
    background-color: #f5f5f5;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
}

main .reviews .review {
    background-color: #1E591E;
    max-width: 600px;
    padding: 30px;
    margin: auto;
    box-sizing: content-box;
}

main .reviews .reviews-wrapper {
    display: flex;
    flex-direction: column;
}

main .reviews .review p {
    font-size: 30px;
    background-color: whitesmoke;
    padding: 15px;
}

main .reviews select {
    appearance: none;
    border: white solid 0px;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

main .review .stars i {
    color: rgb(253, 195, 46);
}

main .review .stars {
    padding: 12px;
}

footer {
    width: 100%;
    background-color: #1E591E;
    padding: 30px 50px 20px 50px;
    box-sizing: border-box;
    
}

footer, footer ul li a, footer p a{
    color: rgb(224, 224, 224);
}

footer .authors {
    text-align: center;
}

footer .socials {
    display: flex;
    justify-content: center;
    padding: 10px;
}

footer .footer-menu ul {
    width: 150px;
}

footer .socials a,  footer .footer-menu ul a{
    text-decoration: none;
    color: #f8f9fa;
}

footer .footer-menu ul a:hover {
    text-decoration: underline;
}

footer .socials a:hover {
    color: black;
}

footer i {
    margin: 7px;
}

footer .footer-menu li {
    margin: 10px;
}

footer .authors a, footer .authors a:visited {
    text-decoration: none;
    color: #f8f9fa;
}

footer .authors a:hover {
    color: black;
}

/* Offer page style */

main .offer-info {
    text-align: center;
    background-color: #B5250A;
    padding: 20px;
    margin-bottom: 20xp;
}

main .offer-info p {
    font-weight: bold;
    font-size: 20px;
}

main .offer-info p a, main .offer-info p a:visited {
    text-decoration: none;
    color: #f8f9fa;
}

main .offer-info p a:hover {
    color: white;
}

main .offer-veg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

main .offer-page .offer-card2 {
    width: 150px;
    height: 150px;
    margin: 10px;
}

main .offer-page h2 {
    text-align: center;
    padding: 0;
    margin: 30px 0px 0px 5px;
    font-weight: bold;
}

main .offer-page .veg1 {
    background-image: url(images/veg1.avif);
}

main .offer-page .veg2 {
    background-image: url(images/veg2.avif);
}

main .offer-page .veg3 {
    background-image: url(images/veg3.avif);
}

main .offer-page .veg4 {
    background-image: url(images/veg4.avif);
}

main .offer-page .veg5 {
    background-image: url(images/veg5.avif);
}

main .offer-page .offer-card2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

main .offer-page .offer-card2 p {
    color: white;
    -webkit-text-stroke: black 1px;
    font-size: 30px;
    text-align: center;
}

main .offer-page .offer-fru {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .offer-page .fru1 {
    background-image: url(images/fru1.avif);
}

main .offer-page .fru2 {
    background-image: url(images/fru2.avif);
}

main .offer-page .fru3 {
    background-image: url(images/fru3.avif);
}

main .offer-page .fru4 {
    background-image: url(images/fru4.avif);
}

main .offer-page .fru5 {
    background-image: url(images/fru5.avif);
}

main .offer-page .offer-gen {
    display: flex;
    justify-content: center;
}

main .offer-page .gen1 {
    background-image: url(images/gen1.avif);
}

main .offer-page .gen2 {
    background-image: url(images/gen2.avif);
}

main .offer-page {
    margin: 80px 10px;
}

main .offer-question {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 30px;
    align-items: center;
}

main .offer-question p {
    font-weight: bold;
}

main .offer-question input {
    max-width: 300px;
    margin-bottom: 10px;
}

main .about-content {
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 50px 30px;
    max-width: 900px;
}


main .about-us, main .about-goal, main .about-list {
    text-align: center;
    margin: auto;
    max-width: 700px;
}

main .about-us a, main .about-goal a, main .about-list a {
    text-decoration: none;
}

main .about-us h1, main .about-goal h1, main .about-list h1 {
    padding: 25px;
    width: 700px;
}

main .about-us h1 {
    font-size: 90px;
    background-image: url(images/whoarewe.avif);
}

main .about-us p, main .about-goal p, main .about-list ul {
    font-size: 17px;
}

main .about-goal h1 {
    font-size: 90px;
    background-image: url(images/ourgoal.avif);
}

main .about-list h1 {
    font-size: 70px;
    background-image: url(images/ourachi.avif);
}

main .about-info {
    margin-left: 70px;
}

main .about-slider {
    max-width: 700px;
    margin: auto;
}


@media (max-width: 1010px) {
    main .offer .offer-card {
        margin: 20px 30px 10px 20px;
    }
}

@media (max-width: 828px) {
    main .about-us h1, main .about-goal h1, main .about-list h1 {
        width: 400px;
        font-size: 60px;
    }

    main .about-us p, main .about-goal p, main .about-list ul {
        width: 400px;
    }
}

@media (max-width: 674px) {

    main .welcome h1 {
        font-size: 70px;
    }

    main .about-us h1, main .about-goal h1, main .about-list h1 {
        width: 400px;
        font-size: 60px;
    }

    main .about-us p, main .about-goal p, main .about-list ul {
        width: 400px;
    }
}

@media (max-width: 625px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    header .ham-menu {
        display: block;
        box-sizing: border-box;
        padding: 15px 40px 12px 10px;
        width: 20px
    }


    header .ham-menu i:hover {
        color: #B5250A;
    }

    header ul {
        display: none;
    }

    
}





/* Newsletter CSS - Ryan */

#newsletter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#h2-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#news-h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(images/thomas-le-pRJhn4MbsMM-unsplash.avif);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100vw;
    margin-top: 10px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;
}

#form-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    border-style: solid;
    border-width: 3px;
    border-color: #1E591E;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #e6e4e4;
    width: 70%;
}

#form-container a {
    justify-self: center;
    align-self: center;
}

.label {
    font-size: x-large;
    font-weight: 1000;
    display: inline-block;
    margin-top: 20px;
}

.input {
    font-size: medium;
    display: inline-block;
    margin-bottom: 5px;
}

#news-choice {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}

#form p {
    font-size: small;
    color: rgb(147, 144, 144);
    font-weight: 1000;
}

#form-submit {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 1000;
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-size: larger;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5px;
}

#form-submit:hover:enabled {
    background-color: #1E591E;
    color: #f5f5f5;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}
/* Quiz CSS - Ryan */

#container {
    display: flex;
    flex-direction: column;
}

#quiz-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(images/thomas-le-pRJhn4MbsMM-unsplash.avif);
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 10px;
    padding: 5px;
    color: #f5f5f5;
    font-size: 50px;
    text-align: center;

}

#quiz-container {
    align-self: center;
    margin: 10px;
    padding: 10px;
    background-color: #e6e4e4;
    border-style: dotted;
    border-width: 3px;
    border-color: #1E591E;
    border-radius: 10px;
    width: 70%;
}

#question1,
#question2,
#question3,
#question4 {
    font-size: larger;
    font-weight: 1000;
}

#options1,
#options2,
#options3,
#options4 {
    padding: 10px;
    font-size: 18px;
    background-color: #97bd82;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    border-radius: 10px;
}

#submit-button {
    width: 120px;
    height: 40px;
    margin-top: 30px;
    font-size: larger;
    font-weight: 1000;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;
}

#submit-button:hover {
    background-color: #1E591E;
    color: #f5f5f5;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
}

/* Arisha CSS */

/* Contact style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif, Open Sans;
}

/* contact form container */
#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    border-color: #1E591E;
	margin-bottom: 50px;
    padding: 10px;
    background-color: #d8fbd2;
	border-radius: 10px;
	width: 50%;
    margin: 0 auto;
	margin-bottom: 50px;
}

#contact-form h3 {
    font-size: 25px;
    margin-bottom: 15px;
    width: 100%;
}

#contact-heading {
    text-decoration: underline; /*double underline code*/
    text-decoration-style: double;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
	border-radius: 10px;
}

#contact-from{
    width: 95%;
}


#contact-form label {
    display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 18px;
    font-weight: 1000;
	display: block;
	margin-bottom: 10px; /* spacing headers from inputs */
}

#contact-form input {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
	border-radius: 10px;
}
#contact-form input[type="message"] /*changing the input box just for message*/
{ 
    height: 70px;
    width: 100%;
}

#thank-you
{
    display: none;
	text-align: center;
    font-size: smaller;
}

#submission {
    font-family: 'Open Sans', sans-serif; /* changing the font*/
    font-weight: 1000;
    width: 50%;
    height: 40px;
	margin: 0 auto;
    margin-top: 20px;
    font-size: larger;
    border-radius: 5px;
    
	display: block;
	text-align: center;
	cursor: default;
	background-color: white;
}



/* contact info container */
#contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 3px;
	border-radius: 10px;
    border-color: #1E591E;
    padding: 10px;
    background-color: #d8fbd2;
	width: 50%;
    margin: 0 auto;

}


#contact-info h3 {
    font-size: larger;
    margin-bottom: 10px;
	text-decoration: underline; /*double underline code*/
    text-decoration-style: double;
}

#contact-info p {
    font-size: medium;
    margin-bottom: 5px;
}

#contact-info ul {
    margin-top: 10px;
    margin-bottom: 15px;
}

#contact-info li {
    font-size: medium;
    list-style-type: disc;
    margin-left: 20px;
}
/* directions style */

.geofinder {
    text-align: center;
}

img.scalable-image {		/*changing the image size/scale */
  max-width: 60%;
  height: auto;
    display: block;
    margin: 0 auto;
}

.directions-container:hover {
    cursor: zoom-in;
}

.directions {
    display: flex; /* Use flexbox to arrange the cards in a row */
    justify-content: space-around; /* Distribute the cards with equal space between them */
}

.directions .directions-card {
    width: 30%; /* Set a width for each card to fit three cards in a row */
    border: 2px solid #1E591E;
    padding: 10px;
    margin: 10px; /* Add some margin to create space between the cards */
    box-sizing: border-box; /* Include padding and border in the card's width */
}

.directions .directions-card h3 {
    border-bottom: 2px solid #1E591E;
    padding-bottom: 5px;
}

.button-container {				/*making the button in the directions page*/
    text-align: center;		
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1E591E;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #013511;
}

.continue-shopping {
    display: block;
    margin: 0 auto;
	margin-bottom: 20px;
}

/* Return link */
#return {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #1E591E;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    border: 2px solid #013511;
    border-radius: 5px;
}

#return:hover {
    background-color: #ffffff;
}
